# Drizzle
DATABASE_URL="postgres://user:password@host:port/db-name"
DIRECT_URL="postgres://user:password@host:port/db-name"

ORIGIN="https://example.com"
# leading dot is required for cross subdomain cookies
COOKIE_DOMAIN=.example.com
ALLOWED_HOSTS=example.com,*.example.com

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET="ZTdWzzkmckoc09Qf2uYRtve2Oq9fUAXg"

# google oauth
GOOGLE_CLIENT_ID=XXXX.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GXXX-XXXX

# Resend API key
RESEND_API_KEY=re_XXXX

# Sentry.io
SENTRY_DSN=https://examplePublicKey@o0.ingest.sentry.io/0
SENTRY_AUTH_TOKEN=sntrys_XXXX
